.jumbotron {
    height: 600px;
    padding-top: 10%;
    text-align: center;
    background-color:rgb(39, 35, 35);
    }

.jumbotron {

    &__title {
    width: 100%;
    text-align: center;
    color: white;
    }

    &__p {
    width: 45%;
    margin: auto;
    color: white;
    
    }

    &__button {
    font-size: large;
    font-weight: bold;
    border-radius: 10px; 
    margin-top: 10px;
    }
}